body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: black;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border: 2px solid rgb(133, 133, 131);
    border-radius: 3px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f7f3f3;
}

.wishlist {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    min-height: 400px;
    border-radius: 5px;
}

.wishlist h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.product-item img {
    width: 150px;
    height: auto;
}

.product-details h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-details p {
    margin: 5px 0;
}

.in-stock {
    color: green;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.product-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-actions button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.remove {
    background-color: #f44336;
    color: #fff;
}

.add-to-cart {
    background-color: #000;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
    background-color: #070707;
    border-top: 1px solid #ccc;
}

.footer-column {
    flex: 1;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
