
<footer><p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p>
				
        
</footer>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/js copy/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="/js copy/bootstrap.min.js"></script>

<script src="/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="/js copy/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/js copy/morris/raphael-2.1.0.min.js"></script>
<script src="/js copy/morris/morris.js"></script>


<script src="/js copy/easypiechart.js"></script>
<script src="/js copy/easypiechart-data.js"></script>

<script src="/js copy/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/js copy/custom-scripts.js"></script> 


</body>

</html>