
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tick-Track</title>
    <link rel="stylesheet" href="/css/webhome.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <h1>Tick-Track</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </nav>
        </header>

        <main>

            <div class="hero">
                <div class="hero-text">
                    <h2>TIME IS A LUXURY</h2>
                    <p>A Classic Collection of Luxurious Watches for all.</p>
                    <a href="/login" class="btn">Get started</a>
                </div>
                <div class="hero-image">

                     <!-- <img src="https://wallpapercave.com/wp/wp6974688.jpg" alt=""> -->
                </div>
            </div>
        </main>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
